*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}

.App {
  background-color: #FFE6E6;
  height: 100vh;
  width: 100vw;
}

main {
  width: 100vw;
}

.blurBackground {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}



