.navbar {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: white;
    width: 250px;
    height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    }

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    flex-direction: column;
}


.nav-menu-items {
    width: 100%;
    padding-left: 0;
    list-style: none;
}

.navbar-toggle {
    width: 100%;
    justify-content: start;
    align-items: center;
}
